<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerColor</key>
	<string>462063</string>
	<key>headerColor</key>
	<string>331548</string>
	<key>blackColor</key>
	<string>3c3c3c</string>
	<key>blueColor</key>
	<string>3bb0c1</string>
	<key>darkGrayColor</key>
	<string>b0b0b0</string>
	<key>darkVioletColor</key>
	<string>442060</string>
	<key>grayColor</key>
	<string>e3e3e3</string>
	<key>greenColor</key>
	<string>38b386</string>
	<key>lightGrayColor</key>
	<string>f3f3f3</string>
	<key>lightVioletColor</key>
	<string>9a6bc9</string>
	<key>pinkColor</key>
	<string>c845dc</string>
	<key>orangeColor</key>
	<string>f79646</string>
	<key>violetColor</key>
	<string>663593</string>
	<key>whiteColor</key>
	<string>fff</string>
</dict>
</plist>
